*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth; /*kaydırma yaparken yumuşak geçiş*/
    font-family: "Poppins", sans-serif;
}
:root{
    --bg-color: #325367;
    --second-bg-color: #001F3F;
    --bg2-color: #10375C;
    --text-color:#fff;
    --main-color:#E4B1F0;
    --second-main-color:#00ffee;
}
html{
    font-size: 70%;
    overflow-x: hidden; /*sağa doğru bir taşma olmasın*/
}
body{
    background-color: var(--bg2-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 3rem 8% 3rem;
}
/*HEADER CSS START */
.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#10314f;
    backdrop-filter: blur(10px);
    padding: 2rem 8% 2rem;
    display: flex;
    justify-content: space-between; /*yatayda hizaladık*/
    align-items: center; /*dikeyde de ortaladık*/
    z-index: 5;
}
.logo{
    font-size: 2.2rem;
    color:var(--second-main-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 3px var(--second-main-color);
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a {
    color: #fff;
    font-size: 1.4rem;
    margin-left: 1.5rem;
    border-bottom: 3px solid transparent;
    transition: 0.4s ease;
  
}
.navbar a:hover, .navbar a:active{
       border-bottom: 3px solid var(--second-main-color);
       color: var(--second-main-color);
}
#menu-icon{
    font-size: 1.8rem;
    color: #E4B1F0;
    display: none; /*gizlendi*/
}
/*HEADER CSS END */
/*HOME CSS START */
.home{
    display: flex; /*yazıları ve resmi yanyana hizaladık*/
    gap: 6rem;
    
}
.home-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 3rem;
}
.home-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.home-content h3{
    margin-bottom: 2rem; 
    font-size: 2.5rem;
}
.home-content p{
    font-size: 1.4rem;
    line-height: 1.6;
    max-width: 1000px;
}
.home-img img{
    width: 32vw;
    position: relative;
    box-shadow: 0 0 13px var(--second-main-color);
    transition: 0.4s ease-in-out; 
}
.home-img img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.social-icons a{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      width: 4rem;
      height: 4rem;
      background-color: transparent;
      border: 1px solid var(--second-main-color);
      border-radius: 50%;
      color: var(--second-main-color);
      margin: 3rem 1.5rem 3rem 0;
      transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.2) translateY(-2px);
    box-shadow: 0 0 8px var(--second-main-color);
}
