*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth; /*kaydırma yaparken yumuşak geçiş*/
    font-family: "Poppins", sans-serif;
}
:root{
    --bg-color: #325367;
    --second-bg-color: #001F3F;
    --bg2-color: #10375C;
    --text-color:#fff;
    --main-color:#E4B1F0;
    --second-main-color:#00ffee;
}
html{
    font-size: 70%;
    overflow-x: hidden; /*sağa doğru bir taşma olmasın*/
}
body{
    background-color: var(--bg2-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 3rem 8% 3rem;
}
/*HEADER CSS START */
.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#10314f;
    backdrop-filter: blur(50px);
    padding: 2rem 8% 2rem;
    display: flex;
    justify-content: space-between; /*yatayda hizaladık*/
    align-items: center; /*dikeyde de ortaladık*/
    z-index: 5;
}
.logo{
    font-size: 2.2rem;
    color:var(--second-main-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 3px var(--second-main-color);
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a {
    color: #fff;
    font-size: 1.4rem;
    margin-left: 1.5rem;
    border-bottom: 3px solid transparent;
    transition: 0.4s ease;
  
}
.navbar a:hover, .navbar a:active{
       border-bottom: 3px solid var(--second-main-color);
       color: var(--second-main-color);
}
#menu-icon{
    font-size: 1.8rem;
    color: #E4B1F0;
    display: none; /*gizlendi*/
}
/*HEADER CSS END */
/*HOME CSS START */
.home{
    display: flex; /*yazıları ve resmi yanyana hizaladık*/
    gap: 3rem;  
}
.home-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 3rem;
}
.home-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.home-content h3{
    margin-bottom: 2rem; 
    font-size: 2.5rem;
}
.home-content p{
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 0.1rem;
    max-width: 1000px;
}
.text-animation{
    font-size: 1.5rem;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "";
    color: var(--second-main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    color: var(--second-main-color);
    background-color: var(--bg2-color);
    animation: words 20s infinite;
    height: 100%;
    width: calc(100% + 8px);
    position: absolute;
    display: inline-block;
    right: -8px;
    border-left: 3px solid var(--bg2-color);
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite; /*kelimeler, cursor, harfleri yazma*/
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--second-main-color);
    }
}
@keyframes words {
    0%, 30%{
        content: "Software Developer'ım";
    }
    31%, 70%{
        content: "Frontend Developer'ım";
    }
    71%,100%{
        content: "Full Stack Developer'ım";
    }
}
@keyframes typing{
    10%,15%,20%,25%,40%,45%,50%,55%,60%,65%,80%,85%,90%,95%{
        width: 0;
    }
    5%,30%,35%,70%,75%{
        width: calc(100% + 8px);
    }
}
.home-img img{
    width: 32vw;
    position: relative;
    box-shadow: 0 0 13px var(--second-main-color);
    transition: 0.4s ease-in-out; 
}
.home-img img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.social-icons a{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      width: 4rem;
      height: 4rem;
      background-color: transparent;
      border: 1px solid var(--second-main-color);
      border-radius: 50%;
      color: var(--second-main-color);
      margin: 3rem 1.5rem 3rem 0;
      transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.2) translateY(-2px);
    box-shadow: 0 0 8px var(--second-main-color);
}
.btn-group{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.buton{
    display: inline-block;
    padding: 1rem 1.2rem;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    background-color: var(--second-main-color);
    box-shadow: 0 0 4px var(--second-main-color);
    font-size: 1.3rem;
    font-weight: 600;
    color: #001F3F;
    cursor: pointer;  
    transition: 0.4s ease-in-out;
}
.buton:hover{
    box-shadow: 0 0 10px var(--second-main-color);
}
.btn-group a:nth-of-type(2){
    background-color: var(--bg2-color);
    color: #00ffee;
}
.btn-group a:nth-of-type(2):hover{
    background-color:var(--second-main-color);
    color: #10375C;
}
/*HOME CSS END */
/*EDUCATİON START*/
.edu-container{
   max-width: 1200px;   
}
.waveContainer{
    position: relative;
}
.img-wave{
    max-width: 120px;
    position: absolute;
    left: -10em;
    top: -12em;
}
.img-wave-end{
    position: absolute;
    right: -10em;
    max-width: 160px;
}
.edu-box{
    background-color: #fff;
    color: var(--bg2-color);
    padding: 20px 50px;
    border-radius: 2rem;
    box-shadow: 0 0 8px var(--second-main-color);
    cursor: pointer;
    transition: 0.4s ease;
    margin-bottom: 2rem;
}
.edu-box:hover{
  box-shadow: 0 0 14px var(--second-main-color);
}
.edu-box h3{
    font-size: 20px;
}
.edu-box h4,.notes{
    font-size: 14px;
    color: #000;
    font-weight: 600;
}
.edu-date{
    font-size: 20px;
}
/*EDUCATİON END*/
/*WORK CSS START*/
.heading{
    font-size: 3rem;
    margin: 5rem 0;
}
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: var(--second-main-color);
    left: calc(50%);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd) {  /*tek sayı olan*/
   padding-right: calc(50% + 20px);
}
.timeline-item:nth-child(even) {  /*çiftsayı olan*/
    padding-left: calc(50% + 20px);
 }
.timeline-dot{
     width: 16px;
     height: 16px;
     border-radius: 50%;
     position: absolute;
     background-color: var(--second-main-color);
     box-shadow: 0 0 8px var(--second-main-color);
     top: 10px;
     left: calc(50% - 7px);
 }
 .timeline-date{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 6px 0 10px 6px;
 }
 .timeline-content{
    background-color: var(--bg2-color);
    padding: 10px 20px;
    border: 2px solid var(--second-main-color);
    border-radius: 2rem;
    box-shadow: 0 0 4px var(--second-main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
 }
 .timeline-content:hover{
    transform: scale(1.03);
    box-shadow: 0 0 6px var(--second-main-color);
 }
 .timeline-content h3{
    font-size: 16px;
    margin-bottom: 10px;
 }
 .timeline-content h4{
    font-size: 14px ;
    color: var(--second-main-color);
    margin-bottom: 5px;
 }
 .timeline-content p{
    font-size: 12px ;
    letter-spacing: 0.1rem;
 }


